<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= path === '/' ? 'active' : '' %>">
              <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item <%= path === '/thongtin' ? 'active' : '' %>">
              <a class="nav-link" href="/thongtin">Xem thông tin</a>
            </li>
            <li class="nav-item <%= path === '/giolam' ? 'active' : '' %>">
              <a class="nav-link" href="/giolam">Giờ làm</a>
            </li>
            <li class="nav-item <%= path === '/covid' ? 'active' : '' %>">
                <a class="nav-link" href="/covid">Khai báo Covid</a>
              </li>
          </ul>
        </div>
      </nav>
</div>